best_model_humiliate_01.bin filter=lfs diff=lfs merge=lfs -text
compared_svm_model.ipynb filter=lfs diff=lfs merge=lfs -text
filted_data.csv filter=lfs diff=lfs merge=lfs -text
group_filted_data_01.csv filter=lfs diff=lfs merge=lfs -text
original_data.csv filter=lfs diff=lfs merge=lfs -text
DisilBERT_models.ipynb filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
best_model_dehumanize_01.bin filter=lfs diff=lfs merge=lfs -text
best_model_genocide_01.bin filter=lfs diff=lfs merge=lfs -text
best_model_status_01.bin filter=lfs diff=lfs merge=lfs -text
best_model_violence_01.bin filter=lfs diff=lfs merge=lfs -text
svm_test_scores.csv filter=lfs diff=lfs merge=lfs -text
templates filter=lfs diff=lfs merge=lfs -text
